html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
  }
  
  .grass, .sky, .road{
    position: relative;
  }
  
  .sky{
    height: 40%;
    background: skyblue;
  }
  
  .grass{
    height: 30%;
    background: seagreen;
  }
  
  .road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
    z-index: 1;
  }
  
  .lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
    z-index: -1;
  }

  /* Things/ elements to be animated */
  .mario {
    position: absolute;
    left: 0;
    top: -70px;
    animation-name: drive;
    animation-duration: 5s;
    /* fill mode, which tells the css prop to stay where you want it to be. Usingg the animation-fill-mode */
    animation-iteration-count: 5;/* This tell the animation how many times to repeat (5 here) */
    animation-fill-mode: forwards; /* This tells the keyframes animation where to stay(here (drive) - forward)*/
    /* (other fill-mode are) */
    /* both, backwards */
    animation-delay: 2s; /*delays the time before the animation starts */
  }

  /* Keyframe */
  @keyframes drive {
    from {transform: translateX(0)}
    to {transform: translateX(1200px)}
  }